.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 27px;
  font-weight: 700;
  color: black;
}

.link.active {
  color: #e84a5f;
}

.link:hover,
.link:focus {
  color: rgb(122, 6, 122);
}
