.registratioMenu {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.link {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.link .active {
  color: #e84a5f;
}

.link:hover,
.link:focus {
  color: #e84a5f;
}

@media screen and (min-width: 786px) {
  .registratioMenu {
    flex-direction: row;
    gap: 20px;
  }

  .link {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .registratioMenu {
    max-width: 1440px;
  }
}
